{% extends 'base2.html' %}
{% load static %}
{% load django_template_maths %}

{% block content %}    

<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            
            {% for movie in movies_4 %}
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" style="background: url({{movie.image.url}}) no-repeat center;
                    background-size: cover;">
                        <div class="banner-info">
                            <a href="{% url 'movies:movie_details' movie.slug %}">
                                <h3>{{movie}}</h3>
                            </a>
                            <p>{{movie.description}}</p>
                        </div>
                    </div>
                </li>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- //banner-slider-->
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Popular Movies</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="{% url 'movies:all' %}">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                
                {% for movie in popular_4 %}
                    
                <div class="item vhny-grid">
                    <div style="width:250px; height:350px" class="box16">
                        <a href="{% url 'movies:movie_details' movie.slug %}">
                            <figure style="width:250px; height:350px">
                                <img style="width:250px; height:350px" class="img-fluid" src="{{movie.image.url}}" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">{{movie}}</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o">
                                </span>
                                {{movie.running_time|div:60|add_decimal:0}} Hr {{movie.running_time|mod:60|add_decimal:0}}min
                                </span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">New Releases</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="{% url 'movies:all' %}">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="owl-three owl-carousel owl-theme">

                
                {% for movie in lastest_6 %}
                    
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="{% url 'movies:movie_details' movie.slug %}">
                            <figure style="width:215px; height:310px">
                                <img style="width:215px; height:310px" class="img-fluid" src="{{movie.image.url}}" alt="">
                            </figure>
                            <div class="box-content">
                                <h4> <span class="post"><span class="fa fa-clock-o">
                                </span>
                                {{movie.running_time|div:60|add_decimal:0}} Hr {{movie.running_time|mod:60|add_decimal:0}}min
                                </span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" href="genre.html">{{movie}}</a></h3>
                    <p><strong>Rate: </strong>{{movie.rate}} IMDB</p>
                    <p><strong>Released: </strong>{{movie.released}}</p>
                    <div class="button-center text-center mt-4">
                        <a href="{% url 'movies:movie_details' movie.slug %}" class="btn watch-button">Watch now</a>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>

    </div>
</section>
<!--grids-sec2-->
<!--grids-sec2-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Last Series</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="{% url 'movies:all_series' %}">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="owl-three owl-carousel owl-theme">

                
                {% for seri in series %}
                    
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="{% url 'movies:series_details' seri.slug %}">
                            <figure style="width:215px; height:310px">
                                <img style="width:215px; height:310px" class="img-fluid" src="{{seri.image.url}}" alt="">
                            </figure>
                            <div class="box-content">
                                
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" href="{% url 'movies:series_details' seri.slug %}">{{seri}}</a></h3>
                    <p><strong>Rate: </strong>{{seri.rate}} IMDB</p>
                    {% comment %} <p><strong>Released: </strong>{{movie.released}}</p> {% endcomment %}
                    <div class="button-center text-center mt-4">
                        <a href="{% url 'movies:series_details' seri.slug %}" class="btn watch-button">Watch now</a>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>

    </div>
</section>
<!--grids-sec2-->
<!--mid-slider -->
<section class="w3l-mid-slider position-relative">
    <div class="companies20-content">
        <div class="owl-mid owl-carousel owl-theme"> 
            {% for movie in top_3 %}
            <div class="item">
                <li>
                    <div class="slider-info mid-view bg bg2" style="background: url({{movie.image.url}}); background-origin: border-box;">
                        <div class="container">
                            <div class="mid-info">
                                {% for type in movie.type.all %}
                                <span class="sub-text">{{type}}</span>
                                {% endfor %}

                                <h3>{{movie}}</h3>
                                <p>{{movie.released}} ‧{{movie.running_time|div:60|add_decimal:0}} Hr {{movie.running_time|mod:60|add_decimal:0}}min</p>
                                <a class="watch" href="{% url 'movies:movie_details' movie.slug %}"><span class="fa fa-play"
                                        aria-hidden="true"></span>
                                    Watch Trailer</a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- //mid-slider-->
<!--/tabs-->
<section class="w3l-albums py-5" id="projects">
    <div class="container py-lg-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>Recent Movies</li>
                        <li>Popular Movies</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="albums-content">
                            <div class="row">
                                
                                {% for movie in recent_9 %}
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle" style="width:165px; height:230px;">
                                            <a href="{% url 'movies:movie_details' movie.slug %}">

                                                <img src="{{movie.image.url}}" class="img-fluid"
                                                    alt="author image" style="width:165px; height:230px;">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <p>{{movie.country}}</p>
                                            <a class="author-book-title" href="{% url 'movies:movie_details' movie.slug %}">{{movie}}</a>
                                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> {{movie.running_time|div:60|add_decimal:0}} Hr {{movie.running_time|mod:60|add_decimal:0}}min
                                                </span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                                    
                            </div>
                        </div>
                        <div class="albums-content">
                            <div class="row">

                                
                                {% for movie in popular_9 %}
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle" style="width:165px; height:230px;">
                                            <a href="{% url 'movies:movie_details' movie.slug %}"><img src="{{movie.image.url}}" class="img-fluid"
                                                    alt="author image" style="width:165px; height:230px;">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <p>{{movie.country}}</p>
                                            <a class="author-book-title" href="{% url 'movies:movie_details' movie.slug %}">{{movie}}</a>
                                            <h4> <span class="post"><span class="fa fa-clock-o"> </span> {{movie.running_time|div:60|add_decimal:0}} Hr {{movie.running_time|mod:60|add_decimal:0}}min
                                                </span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                                    

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //tabs-->

{% endblock content %}